.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 100px;
    justify-content: space-between;
    }
    
    .table__cell {
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-top: 60px;
    }
    
    .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    }
    
     .table__text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    }