@import url(./section-title/section-title.css);
@import url(./section-subtitle/section-subtitle.css);
@import url(./__table/digits__table.css);
@import url(./__table-cell/digits__table-cell.css);
@import url(./__table-heading/digits__table-heading.css);
@import url(./__table-text/digits__table-text.css);

.digits {
    position: relative;
    bottom: -100px;
}