@import url(./__section-title/digits__section-title.css);
@import url(./__section-subtitle/digits__section-subtitle.css);
@import url(./__table/digits__table.css);
@import url(./__table_cell/digits__table_cell.css);
@import url(./__table_heading/digits__table_heading.css);
@import url(./__table_text/digits__table_text.css);

.digits {
    margin: 100px auto;
    }
  