@import url(./table/table.css);

.digits {
    margin: 100px auto;
    }
    
    .section-title {
    width: 60%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    }
    
    .section-subtitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    }
     