 
    .description__two-columns__paragraph {
        line-height: 34px;
        font-size: 24px;
        font-weight: normal; 
        margin-top: 0px;
        margin-bottom: 30px;   
        }
        
    .desciption__two-columns__paragraph:last-of-type {
        margin-bottom: 0;
        }