@import url(./__table_cell_theme_dark/kaufman__table_cell_theme_dark.css);
   .kaufman__table_cell {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-right: 0; 
    margin-top: 80px; 
    z-index: 4;
  
    }
    
   