.khan {

display: flex;
background-color: #f2f2f2;
margin-top: 105px;
}

.khan__container {

width: 80%;
margin: 0 auto;
}

.khan__author {
line-height: 42px;
 font-size: 30px;
 font-weight: normal;
 margin-top: 105px;
 margin-bottom: 0;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;  
    margin-top: 0;
    margin-bottom: 0;
}
.quote {
    width: 790px;
    margin-top: 50px;
    margin-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;  

}
.quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal; 
    margin-top: 10px; 
    margin-bottom: 0;

}
.book-container {
    display: flex;
    margin-top: 68px;
}
.book-pic {
  
    margin-right: 20px;
}
.buy-link {

    line-height: 42px;
    font-size: 30px;
    font-weight: normal;  
    color:#2F80ED ;
}


