@import url(./__section-title_theme_dark/kaufman__section-title_theme_dark.css);
 .kaufman__section-title {
  width: 60%;
  margin: 90px auto 20px;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
    
   