@import url(./__section-subtitle/section-subtitle.css);
@import url(./__section-title/section-title.css);
@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    position: relative;
    bottom: -50px;
}
