.video {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    position: relative;
    bottom: -50px;
}
     
.video__iframes {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 0;
}
.video__iframe {
    margin-right: 20px;
    margin-bottom: 0;
}