@keyframes rotation {
    from {
      transform: rotate(0deg);
    }  
    to {
      transform: rotate(360deg);
    }
  }

.kaufman { 
    background-color: #1F1F1F; 
    position: relative; 
    overflow: hidden;  
    z-index: 4;   
    } 
    .kaufman__table {
        margin-top: 90px; 
        margin-bottom: 90px; 
    }
         
    .kaufman__triangle { 
    background-image: url(../../images/triangle.svg); 
    position: absolute; 
    height: 877px; 
    width: 877px; 
    top: 0px; 
    right: -210px; 
    background-repeat: no-repeat; 
    background-size: 877px 877px; 
    z-index: 3; 
    transform: rotate(-15deg);
   animation:  rotation 20s linear infinite;
    } 
         
    /* и элемента с модификатором вида ключ-значение */ 
    .table__cell_theme_dark { 
    width: 200px; 
    color: white; 
    margin-right: 0; 
    margin-top: 80px; 
    z-index: 4; 
    } 
     
    .section-title_theme_dark { 
     color: white; 
    } 
     
    .section-subtitle_theme_dark { 
    color: white; 
    } 
     
    .table_theme_dark { 
    margin-bottom: 0px; 
    } 
     
    .table__cell_theme_dark { 
    width: 200px; 
    margin-top: 80px; 
    color: white; 
    } 
     
    .table__heading_theme_dark { 
    margin-bottom: 20px; 
    } 
     
    .table__text_theme_dark { 
    margin-top: 0;  
    }