@import url(./__triangle/kaufman__triangle.css);
@import url(./__section-title/kaufman__section-title.css);
@import url(./__section-subtitle/kaufman__section-subtitle.css);
@import url(./__table/kaufman__table.css);
@import url(./__table-cell/kaufman__table-cell.css);
@import url(./__table-heading/kaufman__table-heading.css);
@import url(./__table-text/kaufman__table-text.css);

.kaufman { 
  background-color: #1F1F1F; 
  position: relative; 
  overflow: hidden;  
} 
  
         
    