@import url(./__triangle/kaufman__triangle.css);
@import url(./__section-title/kaufman__section-title.css);
@import url(./__section-subtitle/kaufman__section-subtitle.css);
@import url(./__table/kaufman__table.css);
@import url(./__table_cell/kaufman__table_cell.css);
@import url(./__table_heading/kaufman__table_heading.css);
@import url(./__table_text/kaufman__table_text.css);


.kaufman { 
    
    background-color: #1F1F1F; 
    position: relative; 
    overflow: hidden;  
    } 
  
         
    