@import url(./__section-title/technics__section-title.css);
@import url(./__section-subtitle/technics__section-subtitle.css);
@import url(./__cards/technics__cards.css);
@import url(./__cards-description/technics__cards-description.css);
@import url(./__cards-image/technics__cards-image.css);
@import url(./__cards-item/technics__cards-item.css);
@import url(./__cards-title/technics__cards-title.css);



.technics {
    width: 80%;
    margin: auto;
    
}
