@import url(./__table-heading_theme_dark/kaufman__table-heading_theme_dark.css);
.kaufman__table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
    
   