@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
    position: relative;
    background-image: url(../../images/feinman.png);
    height: 790px;
    background-color: #f2f2f2;
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-top: 0;
    }
    
 
    
    
    
  