@import url(./__author/footer__author.css);
@import url(./__columns/footer__columns.css);
@import url(./__column/footer__column.css);
@import url(./__column_content_copyright/footer__column_content_copyright.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-link/footer__column-link.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__social-icon/footer__social-icon.css);

.footer {
    display: flex;
    flex-direction: column; 
    background-color: #1F1F1F;
    min-height: 350px;
    }

    .logo {
        height: 32px;
        width: 183px;
        }
    .logo_place_footer {
    background-image: url(../../images/logo_white.svg);
    height: 35px;
    width:  183px;
    margin-left: 0px;
    margin-top: 0px;
    }
    
    
    
   
        
   
    