/*div {
    border: 2px solid red;   
}
*/
.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
     position: relative;
     height: 100vh;
     min-height: 600px;
     max-height: 756px;
     background-color: #F2F2F2;
}

 .logo {
    height: 32px;
    width: 183px;
}

 .logo__place-header {
     position: absolute;
     top: 30px;
     left: 64px;
     z-index: 1;
 }
 
 .header__title {
 display: flex;
 align-self: center;
 text-align: left;
 width: 730px;
 height: 200px;
 margin-left: 64px;
 line-height: 96px;
 font-size: 102px;
 font-weight: bold;
 }
 
 .header__subtitle {
 position: absolute;
 width: 388px;
 bottom: 30px;
 left: 64px;
 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
 z-index: 5;
 }
 
 .header__subtitle_link {
 color:#2F80ED;
 }
 
 .header__main-illustration {
 position: absolute;
 width: 765px;
 height: 608px;
 bottom: 0;
 right: 0;
 z-index: 1;
 }

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    position: absolute;
    margin-top: 64px;
    right: 0;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
}

.description {
    display: flex;
    justify-content: center;   
}

.two-columns {  
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 340px;
}

.two-columns__brief {  
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;  
    margin-top: 0px;
    margin-bottom: 0px;
}

.two-columns__main-text {  
    width: 80%;
    min-width: 784px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal; 
    margin-top: 0px;
    margin-bottom: 0px;   
}

.two-columns__span-accent {
    font-weight: bold;
}


.digits {
margin: 100px auto;
}

.section-title {
    width: 60%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
 .table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 100px;
    justify-content: space-between;
    }

.table__cell {
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

 .table__text {
margin-top: 20px;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}


.feinman {
    position: relative;
    background-image: url(../images/feinman.png);
    height: 790px;
    background-color: #f2f2f2;
    background-size: 867 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-top: 100px;
}

.feinman_img {
    background-color: #f2f2f2;
    height: 867; width: 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-top: 100px;
    position: relative;
}
.feinman__title {
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 0 auto 0 auto;
}

.feinman__subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 70px auto 0 auto;
}

.feinman__link {
     position: absolute;
     top: 50%;
     right: 48px;
     line-height: 51px;
     font-size: 36px;
     font-weight: normal;
     text-decoration: none;
     color: #000;
}

.kaufman {
    background-color: #000;
     position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
     z-index: -2;
     overflow: hidden;   
}
    
.kaufman__triangle {
    position: absolute;
    height: 877px;
    width: 877px;
    top: 0px;
    right: -210px;
    background-repeat: no-repeat;
    background-size: 877px 877px;
    z-index: -1;
}

    
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
width: 200px;
color: white;
margin-right: 0;
margin-top: 80px;
}

.section-title_theme_dark {
 color: white;
}

.section-subtitle_theme_dark {
color: white;
}

.table_theme_dark {
margin-bottom: 0px;
}

.table__cell_theme_dark {
width: 200px;
margin-top: 80px;
color: white;
}

.table__heading_theme_dark {
margin-bottom: 20px;
}

.table__text_theme_dark {
margin-top: 0; 
}

.footer {
display: flex;
background-color: #1F1F1F;
min-height: 350px;
}

.footer__columns {
display: flex;
flex-wrap: nowrap;
width: 90%;
margin: 60px auto 40px auto;
justify-content: space-between;
}

.footer__column {
display: flex;
flex-direction: column;
}

.footer__column_content_copyright {
flex-basis: 711px;
justify-content: space-between;
}

.logo_place_footer {
background-image: url(../images/logo_white.svg);
height: 35px;
width:  183px;
margin-left: 0px;
margin-top: 0px;
}

.footer__author {
line-height: 1.2;
font-size: 18px;
font-weight: normal;
color: #f2f2f2;
padding-top: 18px;
padding-bottom: 18px;
}

.footer__column-heading {
line-height: 30px;
 font-size: 18px;
font-weight: bold;
color: white;
 margin-bottom: 20px;
margin-top: 0px;
}

.footer__column-links {
display: flex;
flex-direction: column;
line-height: 30px;
font-size: 18px;
font-weight: normal;
color: white;
margin-bottom: 0px;
margin-top: 0px;
}

.footer__social-icons {
display: flex;
flex-direction: column;
}

.footer__social-icons a {
display: flex;
flex-direction: row;
align-items: center;
}

.footer__social-icons img {
 width: 16px;
 height: 16px;
}

.footer__social-icons span {
color: white;
font-size: 18px;
font-weight: normal;
text-decoration: none;
line-height: 30px;
padding-left: 10px;
}